In [2]:
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'pandas'

In [12]:
df = pd.read_csv('data/original/26k-consumer-complaints-modified.csv')

In [13]:
df.head()

,col_0,complaint_id,product,sub_product,issue,sub_issue,state,zip_code,date_received,date_sent_to_company,company,company_response,timely_response,consumer_disputed
0,0,1291006,Debt collection,NaN,Communication tactics,Frequent or repeated calls,TX,76119,2015-03-19,2015-03-19,"Premium Asset Services, LLC",In progress,Yes,NaN
1,1,1290580,Debt collection,Medical,Cont'd attempts collect debt not owed,Debt is not mine,TX,77479,2015-03-19,2015-03-19,Accounts Receivable Consultants Inc.,Closed with explanation,Yes,NaN
2,2,1290564,Mortgage,FHA mortgage,"Application, originator, mortgage broker",NaN,MA,2127,2015-03-19,2015-03-19,RBS Citizens,Closed with explanation,Yes,Yes
3,3,1291615,Credit card,NaN,Other,NaN,CA,92592,2015-03-19,2015-03-19,Navy FCU,In progress,Yes,NaN
4,4,1292165,Debt collection,Non-federal student loan,Cont'd attempts collect debt not owed,Debt resulted from identity theft,NaN,43068,2015-03-19,2015-03-19,Transworld Systems Inc.,In progress,Yes,NaN

In [14]:
df = df.drop('col_0', axis=1)

In [15]:
df['c'] = df['cosumer_disputed'].map({'Yes': 1, 'No': 0})b

In [24]:
df['consumer_disputed'] = df['consumer_disputed'].fillna(0)

In [16]:
df = df.drop('consumer_disputed', axis=1)

In [17]:
df = df.rename(columns={"c": "consumer_disputed"})

In [25]:
df.head()

,complaint_id,product,sub_product,issue,sub_issue,state,zip_code,date_received,date_sent_to_company,company,company_response,timely_response,consumer_disputed
0,1291006,Debt collection,NaN,Communication tactics,Frequent or repeated calls,TX,76119,2015-03-19,2015-03-19,"Premium Asset Services, LLC",In progress,Yes,0.0
1,1290580,Debt collection,Medical,Cont'd attempts collect debt not owed,Debt is not mine,TX,77479,2015-03-19,2015-03-19,Accounts Receivable Consultants Inc.,Closed with explanation,Yes,0.0
2,1290564,Mortgage,FHA mortgage,"Application, originator, mortgage broker",NaN,MA,2127,2015-03-19,2015-03-19,RBS Citizens,Closed with explanation,Yes,1.0
3,1291615,Credit card,NaN,Other,NaN,CA,92592,2015-03-19,2015-03-19,Navy FCU,In progress,Yes,0.0
4,1292165,Debt collection,Non-federal student loan,Cont'd attempts collect debt not owed,Debt resulted from identity theft,NaN,43068,2015-03-19,2015-03-19,Transworld Systems Inc.,In progress,Yes,0.0

In [26]:
df.to_csv('./data/21Feb/26k-consumer-complaints-labels.csv', index=False)

In [20]:
df['consumer_disputed'].isnull().sum()

22150

In [21]:
len(df)

28156

In [22]:
df['consumer_disputed'].value_counts()

1.0    4708
0.0    1298
Name: consumer_disputed, dtype: int64